.side-menu {
  width: 240px;
  background: #fff;
  padding: 20px 0;
  position: fixed;
  top: 70px;
  bottom: 0;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  transition: all 0.1s ease-out;

  ul > li {
    .link {
      cursor: pointer;
      color: #6e768e;
      display: block;
      padding: 12px 20px;
      position: relative;
      font-family: "Cerebri Sans,sans-serif";
      font-size: 0.95rem;

      .iconify {
        font-size: 1.1rem;
        margin-left: 3px;
        margin-right: 10px;
      }

      .arrow {
        // display: none;
        position: absolute;
        top: 15px;
        right: 20px;
        // transform: rotate(0);
      }

      // &.open {
      //   .arrow {
      //     transform: rotate(90deg);
      //   }
      // }

      &:active,
      &:focus,
      &:hover {
        color: #00acc1;
        text-decoration: none;
      }

      &.menu-active {
        color: #00acc1;
      }
    }

    ul {
      padding-left: 34px;

      .sub-link {
        cursor: pointer;
        padding: 8px 20px;
        color: #6e768e;
        display: block;
        position: relative;
        font-size: 0.875rem;

        &:hover,
        &.menu-active {
          color: #00acc1;
        }
      }
    }
  }
}

// fade
.my-fade-enter {
  opacity: 1;
}
.my-fade-enter-done {
  transform: rotate(90deg) ;
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}
.my-fade-exit-done {
  transform: rotate(0) ;
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}
// .my-fade-exit-done {
//   transform: rotate(90deg) ;
//   opacity: 1;
//   transition: transform 1000ms, opacity 1000ms;
// }


.submenu-enter {
  display: none;
}
.submenu-enter-done {
  display: block;
}

.arrow-enter {
  transform: rotate(0) ;
}
.arrow-enter-done {
  transform: rotate(90deg) ;
}
